HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.env
.env.properties

generate-migration-for-entity.sh

simple-entity-workflow.md

set-env.sh


src/main/resources/application.properties

# Ignore application properties files (contain sensitive data)
src/main/resources/application-*.properties

HYBRID_KIEN_TRUC_GIOI_THIEU.md

localhost.p12   



